body {
    color: rgb(38, 95, 38);
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    padding: 10px;
}
h2 {
    color: rgb(24, 196, 39);
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    padding: 10px;
}
a {
    color: rgb(22, 106, 185) ;
    text-decoration: none;
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
img {
    width: 180px;
    height: 180px;
}
footer {
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    padding: 10px;
}
.maos {
    text-align: center;
}
.tab {
    text-align: center;
}
.maoi {
    text-align: center;
}
form {
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
input {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
p {
    color: rgb(62, 158, 62) ;
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
